footer {
    padding: 30px 0px;
}

.link-header {
    font-size: 15px;
    color: rgb(159, 159, 159);
}

a {
    font-size: 14px;
    color: #2F2F2F !important;
}

.gray {
    color: rgb(159, 159, 159);

}

.box-qoute {
    position: absolute;
    top: -30%;
    left: 20%;
    padding: 30px 50px;
    background: #7EE081;
    color: #2f2f2f;
    border-radius: 20px;
    font-size: 14px;
    max-width: 50vw;
    transition: all 0.3s 0.2s;
}

.box-qoute:hover{
    max-width: 60vw;
    padding: 30px 90px 30px 70px;
    opacity: 0.9;
}


.button-icon .text{
    font-weight: 450;
    text-decoration: none!important;
}

.box-green{
    clip-path: polygon(21% 0, 78% 0, 100% 23%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 25%);
    width: 300px;
    height: 40vh;
    background-color: #7EE081;
    z-index: -2;
}
