/* 
    // File css wajib disetiap page
    ----
    //
    // Isinya class-class yang reusable
    // untuk menggunakannya cukup berikan class yang sesuai
    //
*/

*{
    text-decoration: none!important;
}

/* ff = font family */
.ff1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.ff2 {
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
}

/* Fs = font size */
.fs14 {
    font-size: 14px;
}

.fs18 {
    font-size: 18px;
}

.fs24{
    font-size: 24px;
}

.fs32 {
    font-size: 32px;
}

.fs40 {
    font-size: 40px;
}

.fs80{
    font-size: 80px;
}

.fs120{
    font-size: 120px;
}

/* Font weight */
.fw-n{
    font-weight: 400;
}
.fw-m{
    font-weight: 500;
}
.fw-b{
    font-weight: 700;
}


/* Button style sndiri */

.button-icon{
    position: relative;
    width: fit-content;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 15px;
    color:  rgb(156, 154, 154);
    border: 1px solid rgb(156, 154, 154);
    transition: all 0.3s 0.2s;
}


.button-icon:hover{
    border: 1px solid rgb(156, 154, 154);
    opacity: 0.7;
    padding: 8px 16px;

}

/* gap footer */

.gap-footer{
    margin-bottom: 200px;
}


/* width fit content */

.w-fit-c{
    width: fit-content;
}

label{
    font-size: 14px;
    position: relative;
}

label:active::before{
    content: " > ";
    font-size: 14px;
}

/* input style  */
input.form-control, textarea{
    height: 45px;
    max-width: 415px;
    border-radius: 20px!important;
    padding: 20px!important;
    color: rgb(142, 142, 142)!important;
    transition: all 0.4s!important;
    background-color: #fff;
}

input.form-control:focus, textarea:focus{
    color: #2f2f2f!important;
    margin-left: 5px!important;
    outline: none!important; 
    max-width: 435px;
    box-shadow: 6px 8px 6px rgba(147, 147, 147, 0.285)!important;
    font-size: 14px!important;
    
}

/* link garis bawah */

.a-dash a{
    position: relative;
    color: #4AD34F!important;
    transition: all 0.3s 0.1s;
    font-size: 18px;
    margin: 0px 3px;
}

.a-dash a:hover{
    color: rgb(181, 181, 181)!important;
}

.a-dash a::before{
    content: "";
    transition: all 0.3s 0.1s;
    width: 40%;
    height: 2px;
    background-color: #4AD34F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.a-dash a:hover::before{
    content: "";
    width: 0%;
}


/* Chip err */

.err-form-chip{
    margin-right: 4px;
    margin-bottom: 4px;
    width: fit-content;
    border-radius: 10px;
    padding: 6px 10px;
    color: #2f2f2f;
    background-color: #FE7B7B;
    width: fit-content;
}


/* Chip suc */
.suc-form-chip{
    margin-right: 4px;
    margin-bottom: 4px;
    width: fit-content;
    border-radius: 10px;
    padding: 6px 10px;
    color: #2f2f2f;
    background-color: #7EE081;
    width: fit-content;
}

/* input checkbox */


/* card-person */

.card-person{
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    /* border: 1px solid black; */
    transition: all 0.3s 0.2s;
    background-position: center;
    background-size: cover;
}
 
.card-person span, .card-person p{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    background-color: #141414;
    color: #fff;
    padding: 6px;
    width: 100%;
    text-align: center;
    transition: all 0.3s 0.2s;
}

.card-person .person-description{
    height: 0;
    transition: all 0.3s 0.2s;
    text-align: justify;
}
.card-person:hover .person-description{
    height: 40%;
    font-size: 14px;
}

/* card feature */

.card-feature{
    position: relative;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.661);
    transition: box-shadow 0.3s 0.1s;
}
.card-feature:hover{
    position: relative;
    box-shadow: 0px 4px 4px transparent;
}

.card-feature .content{
    position: absolute!important;
    bottom: 0;
    left: 0;
    height: 0;
    transition: all 0.3s 0.1s;
}
.card-feature:hover .content{
    height: 60%;
}

/* hidden scroolbar */

::-webkit-scrollbar{
    display: none;
}

/* swiper gallery */
.swiper-2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }


  /* a href style black underline */

  .link-w-underline{
    position: relative;
    transition: all 0.3s 0.1s;
    color: gray!important;
  }
  .link-w-underline:hover{
    color: #4AD34F!important;
  }

  .link-w-underline::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s 0.1s;
  }
  .link-w-underline:hover::before{
    content: "";
    width: 80%;
  }

  .ts-03-01{
    transition: all 0.3s 0.1s;
  }
  .ts-02-03{
    transition: all 0.2s 0.3s;
  }
  .ts-06-0{
    transition: all 0.6s!important;
  }