/* 
    // File css wajib disetiap page
    ----
    //
    // Isinya class-class yang reusable
    // untuk menggunakannya cukup berikan class yang sesuai
    //
*/

*{
    text-decoration: none!important;
}

/* ff = font family */
.ff1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.ff2 {
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
}

/* Fs = font size */
.fs14 {
    font-size: 14px;
}

.fs18 {
    font-size: 18px;
}

.fs24{
    font-size: 24px;
}

.fs32 {
    font-size: 32px;
}

.fs40 {
    font-size: 40px;
}

.fs80{
    font-size: 80px;
}

.fs120{
    font-size: 120px;
}

/* Font weight */
.fw-n{
    font-weight: 400;
}
.fw-m{
    font-weight: 500;
}
.fw-b{
    font-weight: 700;
}


/* Button style sndiri */

.button-icon{
    position: relative;
    width: fit-content;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 15px;
    color:  rgb(156, 154, 154);
    border: 1px solid rgb(156, 154, 154);
    transition: all 0.3s 0.2s;
}


.button-icon:hover{
    border: 1px solid rgb(156, 154, 154);
    opacity: 0.7;
    padding: 8px 16px;

}

/* gap footer */

.gap-footer{
    margin-bottom: 200px;
}

/* width fit content */

.w-fit-c{
    width: fit-content;
}

label{
    font-size: 14px;
    position: relative;
}

label:active::before{
    content: " > ";
    font-size: 14px;
}

/* input style  */
input.form-control{
    height: 45px;
    max-width: 415px;
    border-radius: 20px!important;
    padding: 20px!important;
    color: rgb(142, 142, 142)!important;
    transition: all 0.4s!important;
    background-color: #fff;
}

input.form-control:focus{
    color: #2f2f2f!important;
    margin-left: 5px!important;
    outline: none!important; 
    max-width: 435px;
    box-shadow: 6px 8px 6px rgba(147, 147, 147, 0.285)!important;
    font-size: 14px!important;
    
}

/* link garis bawah */

.a-dash a{
    position: relative;
    color: #4AD34F!important;
    transition: all 0.3s 0.1s;
    font-size: 18px;
    margin: 0px 3px;
}

.a-dash a:hover{
    color: rgb(181, 181, 181)!important;
}

.a-dash a::before{
    content: "";
    transition: all 0.3s 0.1s;
    width: 40%;
    height: 2px;
    background-color: #4AD34F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.a-dash a:hover::before{
    content: "";
    width: 0%;
}


/* Chip err */

.err-form-chip{
    margin-right: 4px;
    margin-bottom: 4px;
    width: fit-content;
    border-radius: 10px;
    padding: 6px 10px;
    color: #2f2f2f;
    background-color: #FE7B7B;
    width: fit-content;
}


/* Chip suc */
.suc-form-chip{
    margin-right: 4px;
    margin-bottom: 4px;
    width: fit-content;
    border-radius: 10px;
    padding: 6px 10px;
    color: #2f2f2f;
    background-color: #7EE081;
    width: fit-content;
}

/* input checkbox */
